* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #c7c7cd, #c29ae8);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 90%;
  max-width: 500px;
}

.screen {
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  text-align: center;
}

.hidden {
  display: none;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background: #4f46e5;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #3730a3;
}

/* Header */
#quiz-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: bold;
}

/* Question */
#question-text {
  margin-bottom: 20px;
  font-size: 20px;
}

/* Options */
.options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
  cursor: pointer;
  color:black;
}

.option:hover {
  background: #eee;
}

.option.correct {
  background: #22c55e;
  color: white;
}

.option.wrong {
  background: #ef4444;
  color: white;
}

/* Score */
#score-box {
  margin-top: 15px;
  font-weight: bold;
}

/* Timer */
#timer {
  color: #ef4444;
  font-weight: bold;
}

